<div class="flex flex-col gap-5 justify-center items-center mt-12 mb-12">
    <div class="space-y-8 w-full max-w-2xl">
        <h1 class="text-2xl font-bold mb-4">{{restaurantInput.name}}</h1>
        <div class="bg-white p-6 rounded-xl shadow-md mb-6 w-full">

            <div class="flex items-center justify-start mb-2">
                <div class="flex space-x-2">
                    <div class="flex items-center text-black font-semibold gap-2">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" aria-hidden="true"
                            strokeColor="rgba(2, 6, 12, 0.92)" fillColor="rgba(2, 6, 12, 0.92)">
                            <circle cx="10" cy="10" r="9" fill="url(#StoreRating20_svg__paint0_linear_32982_71567)">
                            </circle>
                            <path
                                d="M10.0816 12.865C10.0312 12.8353 9.96876 12.8353 9.91839 12.865L7.31647 14.3968C6.93482 14.6214 6.47106 14.2757 6.57745 13.8458L7.27568 11.0245C7.29055 10.9644 7.26965 10.9012 7.22195 10.8618L4.95521 8.99028C4.60833 8.70388 4.78653 8.14085 5.23502 8.10619L8.23448 7.87442C8.29403 7.86982 8.34612 7.83261 8.36979 7.77777L9.54092 5.06385C9.71462 4.66132 10.2854 4.66132 10.4591 5.06385L11.6302 7.77777C11.6539 7.83261 11.706 7.86982 11.7655 7.87442L14.765 8.10619C15.2135 8.14085 15.3917 8.70388 15.0448 8.99028L12.7781 10.8618C12.7303 10.9012 12.7095 10.9644 12.7243 11.0245L13.4225 13.8458C13.5289 14.2757 13.0652 14.6214 12.6835 14.3968L10.0816 12.865Z"
                                fill="white"></path>
                            <defs>
                                <linearGradient id="StoreRating20_svg__paint0_linear_32982_71567" x1="10" y1="1" x2="10"
                                    y2="19" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#21973B"></stop>
                                    <stop offset="1" stop-color="#128540"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                        <span>{{restaurantInput.rating}}</span>
                        <span>(28K+ ratings)</span>
                    </div>
                    <span class="text-gray-600">•</span>
                    <span class="font-semibold">{{restaurantInput.price}} for two</span>
                </div>
            </div>

            <p class="text-orange-600 font-semibold mb-2 break-words"><a class="hover:underline">Salads</a>, <a
                    class="hover:underline">{{restaurantInput.cuisine}}</a>
            </p>

            <div class="flex gap-3">
                <div><span class="font-semibold">Outlet</span></div>
                <div>{{restaurantInput.location}}</div>
            </div>

            <div class="flex text-orange-600 gap-3 text-sm py-2 border-t border-gray-200 mt-2 font-semibold">
                <img src="https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_86,h_30/v1634558776/swiggy_one/OneLogo_3x.png"
                    alt="" style="vertical-align: middle; height: 15px; width: 43px;">
                Free delivery on orders above ₹199
            </div>
        </div>
    </div>
</div>

<div class="flex justify-center">
    <div class="flex flex-col gap-5 justify-center items-center w-full max-w-2xl mt-6">
        <div class="border-b pb-4 w-full" *ngFor="let product of productList">
            <div class="flex justify-between items-center">
                <div class="w-full max-w-md">
                    <h2 class="text-lg font-semibold text-gray-800 break-words">{{product.name}}</h2>
                    <p class="text-xl font-bold text-gray-700">₹{{product.price}}</p>
                    <div class="flex items-center text-green-600 text-sm mt-1">
                        <span>★ 4.1</span>
                        <span class="ml-1">(39)</span>
                    </div>
                    <p class="text-gray-500 text-sm mt-2 break-words">
                        {{product.description}}
                    </p>
                </div>
                <div class="relative">
                    <img class="w-36 h-36 object-cover rounded-lg" [src]="product.imageUrl" alt="product image">
                    <div class="p-2">
                        <button
                            class="absolute bottom-1 right-4 border-b bg-white text-green-600 font-bold py-1 rounded-lg hover:bg-slate-200"
                            style="width: 90px;" (click)="addToCart(product)">
                            {{ isProductInCart(product) ? 'Added' : 'Add' }}
                        </button>
                    </div>
                </div>
                <div *ngIf="showPopUp" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
                    <div class="bg-white p-6 rounded-lg shadow-lg w-96">
                        <h2 class="text-xl font-bold mb-4">Items already in cart</h2>
                        <p class="text-gray-700 mb-6">Your cart contains items from another restaurant. Would you like
                            to reset
                            your cart for adding items from this restaurant?</p>
                        <div class="flex justify-end space-x-4">
                            <button (click)="noCancel()" class="bg-white text-gray-700 px-4 py-2 border"
                                style="color: #68b444; border-color: #68b444; border-width: 2px;">NO, CANCEL</button>
                            <button (click)="yesStartAfresh()" class="text-white px-4 py-2"
                                style="background-color: #68b444;">YES,
                                START
                                AFRESH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>